/*Styles for the App component */
.App {
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
}

div[data-garden-id="modals.tooltip_modal"] {
    width: auto;
}

div[data-garden-id="colorpickers.colorpicker_input_group"] {
    display: none;
}
